ImageResize.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ImageResize
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 975cd6d5-9f0c-4245-9ae5-009f3f6c3161
    name: dify_image_resize_container
    selector:
    - env
    - dify_image_resize_container
    value: http://dify-image-resize:8000/upload?max_size=
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        iteration_id: '1739504613822'
        sourceType: iteration-start
        targetType: http-request
      id: 1739504613822start-source-1739504659359-target
      source: 1739504613822start
      sourceHandle: source
      target: '1739504659359'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: end
      id: 1739504613822-source-1739503825465-target
      source: '1739504613822'
      sourceHandle: source
      target: '1739503825465'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1738940766641-source-1739505454756-target
      source: '1738940766641'
      sourceHandle: source
      target: '1739505454756'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: iteration
      id: 1739505454756-false-1739504613822-target
      source: '1739505454756'
      sourceHandle: 'false'
      target: '1739504613822'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1739505454756-true-1739505512428-target
      selected: false
      source: '1739505454756'
      sourceHandle: 'true'
      target: '1739505512428'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1739505512428-source-1739505544835-target
      source: '1739505512428'
      sourceHandle: source
      target: '1739505544835'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: files
          max_length: 10
          options: []
          required: false
          type: file-list
          variable: files
        - label: max_width_height
          max_length: 48
          options: []
          required: true
          type: number
          variable: max_width_height
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: file
          max_length: 48
          options: []
          required: false
          type: file
          variable: file
      height: 142
      id: '1738940766641'
      position:
        x: -267.3496747551535
        y: 282
      positionAbsolute:
        x: -267.3496747551535
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1739504613822'
          - output
          variable: output
        selected: false
        title: End 2
        type: end
      height: 90
      id: '1739503825465'
      position:
        x: 1217.9448196118851
        y: 282
      positionAbsolute:
        x: 1217.9448196118851
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 242
        is_parallel: true
        iterator_selector:
        - '1738940766641'
        - files
        output_selector:
        - '1739504659359'
        - files
        output_type: array[file]
        parallel_nums: 10
        selected: false
        start_node_id: 1739504613822start
        title: Iteration
        type: iteration
        width: 388
      height: 242
      id: '1739504613822'
      position:
        x: 612.6148538097178
        y: 379.5016630891659
      positionAbsolute:
        x: 612.6148538097178
        y: 379.5016630891659
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 388
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1739504613822start
      parentId: '1739504613822'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 636.6148538097178
        y: 447.5016630891659
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1739504613822'
            - item
            id: key-value-4
            key: file
            type: file
            value: ''
          - id: key-value-5
            key: ''
            type: text
            value: ''
          type: form-data
        desc: ''
        headers: ''
        isInIteration: true
        iteration_id: '1739504613822'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request 2
        type: http-request
        url: '{{#env.dify_image_resize_container#}}{{#1738940766641.max_width_height#}}'
        variables: []
      height: 140
      id: '1739504659359'
      parentId: '1739504613822'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 740.6148538097178
        y: 447.5016630891659
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: exists
            id: 3cf3ba02-1940-4209-9f8a-9e3d4e1c4150
            value: ''
            varType: file
            variable_selector:
            - '1738940766641'
            - file
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1739505454756'
      position:
        x: 122.319987267172
        y: 282
      positionAbsolute:
        x: 122.319987267172
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1738940766641'
            - file
            id: key-value-6
            key: file
            type: file
            value: ''
          - id: key-value-7
            key: ''
            type: text
            value: ''
          type: form-data
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request 2
        type: http-request
        url: '{{#env.dify_image_resize_container#}}{{#1738940766641.max_width_height#}}'
        variables: []
      height: 140
      id: '1739505512428'
      position:
        x: 714.4692697153644
        y: 153.84123525082165
      positionAbsolute:
        x: 714.4692697153644
        y: 153.84123525082165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1739505512428'
          - files
          variable: files
        selected: false
        title: End 2
        type: end
      height: 90
      id: '1739505544835'
      position:
        x: 1018.4692697153644
        y: 153.84123525082165
      positionAbsolute:
        x: 1018.4692697153644
        y: 153.84123525082165
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -216.9523954252087
      y: 155.62023123197008
      zoom: 0.757858283255199
